@import "./variables.scss";
@import "./mixins.scss";

html {
  font-family: "Nomito", sans-serif !important;
  font-size: 16px;
}

body {
  background-color: $color-gray;
}

a:link {
  color: black;
  text-decoration: none;
}

.title {
  font-size: 40px;
}

.btn,
.btn-disabled {
  @include flex-center;
  height: 34px;
  width: 100px;
  border-radius: 80px;
  background-color: $color-yellow;
  color: #000000de;
  font-family: "Nomito", sans-serif;
  cursor: pointer;
  transition: 0.1s linear;
  border: none;
}

.btn:hover {
  background-color: #ffe302;
}

.btn-disabled {
  background-color: #b4b4b4;
  color: #ffffff;
  cursor: auto;
}

.bread {
  font-size: 12px;
  color: #7e7e7e;
}

.hidden {
  visibility: hidden;
}
