.spinner {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #00bdd3 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #00bdd3);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
  margin: 50px 50px;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}
