@import "../../styles/mixins.scss";

.skills {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../resources/images/bg.jpeg") center center;
  background-size: cover;
  background-position-y: calc(100% - 10%);

  padding: 89px 194px;
  &__content {
    max-width: 380px;
    text-align: center;
    margin: 0 auto;
    color: #fff;

    .title {
      margin-bottom: 21px;
      line-height: 40px;
    }
    .headline {
      margin-bottom: 32px;
      line-height: 26px;
    }
    .btn {
      margin: 0 auto;
    }
  }
}

@media (max-width: 700px) {
  .skills {
    padding: 40px 16px;
  }
}
